.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #06d6a0;
}

@media screen and (max-width: 650px) {
  .nav li{
    display: none;
  }
  .nav-toggle{
    display: block;
  }

 
  .logo{
    font-size: 22px;
  }
}
@media screen and (max-width: 700px){
 .logo-link {
   margin-left: -45px;
 }
}
@media screen and (max-width: 870px){
  .header ul{
    margin-right: 25px;
  }
}

@media screen and (max-width: 920px) {
  .corps-formulaire .right {
    margin-left: 0px;
  }
}