.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #06d6a0;
}

@media screen and (max-width: 650px) {
  /* .nav li{
    display: none;
  } */
  .triangle{
    display: block;
    position: absolute;
    border-top: transparent 15px solid;
    border-right: #2e685a 15px solid;
    border-bottom: #2e685a 15px solid;
    border-left: transparent 15px solid;
    top: -30px;
    right: 0;
  }
  #mySidenav{
    position: absolute;
    display: flex;
    background-color: #2e685a;
    flex-direction: column;
    height: 350px;
    width: 285px;
    top: 100px;
    right: -20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top-right-radius: 0px;
    visibility: hidden;
  }
  .nav-toggle{
    display: block;
    position: relative;
  }

  li.active .link-btn {
   transition: none;
  }
  .link-btn {
      padding: 14px 30px;
  }
  .logo{
    font-size: 22px;
  }
}
@media screen and (max-width: 700px){
 .logo-link {
   margin-left: -45px;
 }
}
@media screen and (max-width: 870px){
  .header ul{
    margin-right: 25px;
  }
}

@media screen and (max-width: 920px) {
  .corps-formulaire .right {
    margin-left: 0px;
  }
}

@media screen and (max-width: 870px){
  .description-box{
    margin-left: 95px;
  }
  .logo{
    padding-left: 50px;
  }
}
@media screen and (max-width: 704px) {
  .presentation{
    font-size: 35px;
  }
  .description{
    font-size: 14px;
  }
  h3,
  .mail-address {
    font-size: 15px;
  }
}

@media screen and (max-width: 620px){
    .presentation {
      font-size: 25px;
    }

    .description {
      font-size: 12px;
    }

    h3,
    .mail-address {
      font-size: 15px;
    }
}
@media  screen and (max-width: 600px) {
  .number-and-mail-address{
    flex-direction: column;
  }
  .mail-address{
    margin-left: 0;
  }
}
@media screen and (max-width: 822px){
  .form__block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form__textarea {
    width: 395px;
    height: 180px;
  }
  .form__title{
    margin-bottom: 1rem;
  }
  .form{
    width: 450px;
    height: 480px;
  }
  .form__left {
    width: 100%;
  }

  .form__right {
    width: 100%;
  }
  .form__button{
    margin-top: 18px;
  }
}
@media screen and (max-width: 470px){
  .form{
    width: 390px;
  }
}
@media screen and (max-width: 411px){
      .form {
        width: 340px;
      }
}
